body {
    background-color:#1a1a1a;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px
}

.container{
    width: 400px;
    background-color: #000000;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1{
    color: #ffffff;
    text-align: center;
}

h3{
    color: #fdfdfd;
    font-weight:400;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
    text-align:center;
}

.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #ffffff;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #1a1a1a;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: rgb(0, 221, 0);
    color: black
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 5px 0;
    color: rgb(255, 255, 255)
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

hr{
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px 0;
}

.card{
    background-color: #1a1a1a;
    color: white;
}

#trocarPagina{
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    border: none;
    height: 10px;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: -8px;
}

#trocarPagina:hover{
    color: rgb(0, 221, 0);
}
